a {
    text-decoration: none;
}


body {
    font-family: $font-family;
    min-height: 100vh;
}

.primary-color {
    color: $primary-color;
}

.main {

    background-color: $body-bg;
}

.menu {
    position: fixed;
    width: 100%;
    background-color: $body-bg;


}

.index-menu {
    display: flex;
    width: 100%;
    background-color: $body-bg;
    justify-content: space-between;


}

.nav {
    display: flex;
    justify-content: flex-end;
    color: black;
    font-size: 17px;
    margin-top: 2rem;

    span {
        margin-left: 1rem;
        cursor: pointer;
    }

    .mobile-menu {
        display: none;
        font-size: 24px;
        color: $primary-color;
    }

    .login {
        font-weight: bold;

        a {
            color: $primary-color;
        }
    }
}

.log {
    h1 {
        font-size: 24px;
        font-weight: bold;
        color: $primary-color;
        margin-top: 2rem;
    }

    p {
        margin-top: -15px;
    }
}

.text {
    padding-top: 8rem;

    h2 {
        font-size: 50px;
        font-weight: bold;
        color: black;
    }

    p {
        font-size: 16px;
    }
}

.image {
    img {
        width: 100%;
    }
}

.btn-container {
    button {
        margin-right: 2rem;
    }

}

.btn-borded {
    padding: 10px 10px;
    background-color: $primary-color;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;

    a {
        color: white;
    }
}

.btn-outlined {
    padding: 8px 10px;
    border-radius: 5px;
    background-color: transparent;
    font-weight: bold;
}

//................................... dashboard .....................................
.body-content {
    background-color: $primary-color;
    min-height: 85vh;
    margin-left: 20%;
    padding-top: 5rem;
}

.profile-image {
    margin-top: -1rem;
    width: 3rem;
    height: 3rem;
    background-color: $primary-color;
    border-radius: 50%;
}

.sidebar {
    // text-align: center;
    margin-top: 8rem;
    padding-left: 1.5rem;
    position: fixed;
    width: 20%;


    .nav-item {
        font-size: 20px;
        padding-bottom: 1.5rem;

        a {
            cursor: pointer;
            text-decoration: none;
            color: black;

            span {
                color: $primary-color;
            }
        }

        a:hover {
            color: $primary-color;
        }



    }
}

footer {
    // padding: 2rem;
    margin-top: -3rem;
    color: $primary-color;
    font-weight: bold;

    .left {
        display: flex;
        justify-content: space-between !important;

    }

    .icon {
        font-size: 12px;
        margin-top: -3rem;
    }
}

// ...............Blog ...............................

.blog-box {
    margin-left: 3rem;
    margin-top: 2rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;

    .head {
        img {
            border-radius: 100%;
        }
    }

    .footer {
        display: flex;

    }
}

// ....... login ..........
.login-form {
    .text-container {
        background-color: $primary-color;
        min-height: 80vh;
        margin: 3.2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3.5rem;
        color: white;
    }

    .form-container {
        min-height: 80vh;
        margin: 3.2rem 0;
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
        // border-radius: 10px;
        overflow: hidden;

        .title {
            margin-bottom: 3rem;
            color: $primary-color;
            font-size: large;
            font-weight: bold;
        }


        .form-group {
            width: 100%;
            margin-top: 0.1rem;

            input:focus {
                outline: none;
            }

            input[type="submit"] {
                background-color: $primary-color;
                color: #fff;
            }
        }

        .sign-up-link {
            padding-top: 1rem;

            span {
                a {
                    color: $primary-color;
                }
            }
        }

        .flex {
            display: flex;
            justify-content: space-between !important;
            width: 100%;

            span,
            a {
                color: $primary-color;
            }



            .left {
                margin-right: 1rem;
            }

            .right {
                margin-left: 1rem;

            }
        }
    }
}




@media screen and (max-width: 768px) {

    /* your css styles */
    .nav {

        .login,
        .btn-borded {
            display: none;
        }

        .mobile-menu {
            display: block;
        }

    }

    .home {

        .content {
            display: flex;
            flex-direction: column-reverse;

            .text {
                padding-top: 0;

                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .image {
            margin-top: -2rem;
        }
    }

    .btn-container {
        display: flex;
        justify-content: center;
    }

    footer {
        // padding: 2rem;
        margin-top: 1rem;

        .left {
            display: none;
            justify-content: space-between !important;

        }

        .right {
            display: flex;
            justify-content: center !important;

        }

        .icon {
            font-size: 12px;
            margin-top: -3rem;
        }
    }

    .login-form {
        .text-container {
            display: none;
        }

        .form-container {
            margin: 1rem 0;
            padding: 0 1rem;
        }
    }

    .flex {
        display: flex;
        flex-direction: column;

        .left {
            margin-right: 0 !important;
        }

        .right {
            margin-left: 0 !important;
        }
    }
}